<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Change Password Form</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card mt-5">
						<div class="car-body m-4">
							<h3 class="my-3 text-center">Change Password</h3>
							<form th:action="@{/change-password}" method="post">
								<!-- New Password Field -->
								<div class="form-group">
									<input name="newPassword" type="password" class="form-control" placeholder="Enter new password" />
								
								</div>
								<div class="container text-center">
									<button type="submit" class="btn btn-success">Change</button>
									<button type="reset" class="btn btn-warning">Reset</button>
								</div>
							
							</form>
						
						</div>
					
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>


