<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Home page</title>
</head>
<body>
	<section>
		<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height:220px;" class="col-md-12">
                        <form class="form" th:action ="@{/verify-otp}"action="#" method="post">
                            <!-- <div class="alert alert-success mt-3" role="alert">
 								
							</div> -->
							<!-- message box -->
							<div th:if = "${session.message}" class="container mt-3">
								<div  th:classappend = "${'alert-'+session.message.type}" class="alert text-center" role="alert">
								 	<span th:text = "${session.message.content}"></span>
								</div>
								<th:block th:text = "${#session.removeAttribute('message')}"></th:block>
							</div>
                            <div class="form-group my-4">
                                <input required="required" type="text" name="otp" id="otp" class="form-control" placeholder="Enter OTP here">
                            </div>
                          	
                            <div class="container text-center">
                                <input type="submit" name="submit" class="btn btn-success btn-md" value="Verify">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>

</body>
</html>